@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  width: auto;
}

.modal {
  display: none;
}

.modal.ativo {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .video {
  width: 560px;
  height: 315px;
}

.modal button {
  background-color: rgb(19, 172, 19);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vh;
  padding: 20px 40px;
  background-color: rgb(46, 46, 46);
}

#logo {
  width: 400px;
}

nav ul {
  display: flex;
  align-items: center;
  width: auto;
}

nav ul li a {
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
}

nav ul li a:hover {
  border-radius: 9999px;
  background-color: rgb(19, 172, 19);
}

.carrossel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.carrossel .painel {
  width: auto;
  height: auto;
  display: none;
  animation: show 0.6s ease-in;
  object-fit: cover;
}

.carrossel .painel.ativo {
  width: 100%;
  height: 100%;
  display: block;
}

.carrossel .botoes-carrossel {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 0;
  margin-bottom: 15px;
}

.carrossel .botoes-carrossel .botao {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.carrossel .botoes-carrossel .botao:hover {
  background-color: rgb(19, 172, 19);
}

.carrossel .botoes-carrossel .botao.ativo {
  background-color: rgb(19, 172, 19);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  width: 100%;
  height: 100vh;
}

.content .barra {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 95%;
  top: 20px;
}

.content .barra h3 {
  color: #fff;
  text-align: center;
}

.content .barra .bar {
  height: 5px;
  width: 50%;
  border-radius: 999px;
  background-color: #fff;
}

.content .info {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content .info p {
  font-size: 20px;
  width: 45%;
  text-align: center;
  color: #fff;
}

.content .info img {
  width: 45%;
  border-radius: 50px;
}

.content .botoes-serie {
  display: flex;
  gap: 20px;
}

.content .botoes-serie button {
  width: 150px;
  padding: 10px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  background-color: #fff;
}

.content .botoes-serie button:hover {
  background-color: rgb(19, 172, 19);
  color: #fff;
}

.content .botoes-serie a {
  text-align: center;
  width: 150px;
  padding: 10px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: black;
  background-color: #fff;
}

.content .botoes-serie a:hover {
  background-color: rgb(19, 172, 19);
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  gap: 10px;
  color: #fff;
}

footer .social-midias {
  display: flex;
  gap: 20px;
}

footer a img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

@media (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    height: auto;
  }

  .content {
    gap: 70px;
  }

  .content .info {
    flex-direction: column;
    height: auto;
    gap: 40px;
  }

  .content .info img {
    width: 100%;
  }

  .content .info p {
    width: 80%;
  }

  .carrossel {
    height: auto;
  }

  .carrossel .painel {
    object-fit: contain;
  }
}

@media (max-height: 415px) AND (max-width: 1000px) {

  .content .info{
    flex-direction: row;
  }

  .content .barra h3 {
    font-size: 12px;
  }

  .content .info img {
    width: 40%;
  }
  .content .info p {
    font-size: 10px;
  }
  
  .content .botoes-serie button {
    width: 100px;
    font-size: 10px;
  }

  .content .botoes-serie a {
    width: 100px;
    font-size: 10px;
  }

  footer {
    height: 10vh;
    font-size: 10px;
  }

  footer a img {
    width: 15px;
    height: 15px;
    filter: invert(1);
  }
}

@media (max-width: 540px) {
  .modal .video {
    width: 300px;
    height: 169px;
  }
  nav #logo {
    width: 200px;
  }

  nav ul {
    width: 100%;
    justify-content: center;
  }

  nav ul li a {
    font-size: 12px;
  }

  .content .info p {
    font-size: 15px;
  }

  .content .barra h3 {
    font-size: 15px;
  }

  .content .info {
    width: 100%;
  }

  .content .botoes-serie button {
    width: 100px;
    font-size: 12px;
  }

  .content .botoes-serie a {
    width: 100px;
    font-size: 12px;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
